.reserver {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  background-color: var(--grislight);
}
.titre p {
  color: var(--gris);
  font-size: 18px;
}
/*bouton explorer*/
button {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  color: rgb(246, 245, 252);
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  transition: transform 400ms;
  box-shadow: 0 5px 10px 0px rgb(230, 223, 233);
}
button:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .explorer {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  button {
    padding: 15px 35px;
  }
  .titre {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  .titre h1 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
  }
  .titre p {
    margin-left: 2px;
  }
}
