nav h1 {
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 5px;
  font-family: shrikhand;
  font-size: 50px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/*icone map*/
.map .fas {
  background-color: transparent;
}
/*geoloc*/
.map {
  background-color: rgb(238, 237, 237);
  box-shadow: inset 0px 3px 2px rgb(219, 217, 217);
  display: flex;
  font-weight: bold;
}
nav div {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  nav div {
    flex-basis: 100%;
  }
  nav h1 {
    margin: auto;
    flex-shrink: 1;
    margin-bottom: 20px;
    font-size: 35px;
  }
  .map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  .map p {
    margin-right: 80px;
  }
}
