@use "../sass/utils/mixins.scss";
.liste-restaurants {
  background-color: var(--grislight);
}
.restaurants {
  display: flex;
  flex-wrap: wrap;
  & > div {
    margin-left: 2%;
    margin-right: 2%;
    flex-grow: 1;
    margin-bottom: 3%;
    flex-basis: 20%;
    background-color: white;
    @include mixins.border-radius;
    @include mixins.box-shadow;
    transition: transform 300ms;
  }
  & > div:hover {
    transform: scale(1.1);
  }
}
.menu-card {
  position: relative;
  & span {
    @include mixins.card-new;
  }
  & img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}
.card-description h3{
  margin-left: 3%;
}
.card-description p{
  margin-left: 3%;
  margin-top: 0%;
  margin-bottom: 6%;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5%;
  position: relative;
  & i {
    position: absolute;
    right: 5px;
    margin-top: 5%;
    font-size: 180%;
  }
  & .far {
    background-color: transparent;
  }
  & .fas {
    right: -20.3px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: transform 400ms;
    background-image: linear-gradient(var(--secondaire), var(--primaire));
    opacity: 0;
  }
  & .fas:hover {
    opacity: 1;
    transform: scale(1.2);
    animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .restaurants div {
    flex-basis: 35%;
    & > div {
      margin-left: 2%;
    }
  }
  .menu-card img {
    width: 100%;
    object-fit: cover;
  }
}
@media (max-width: 767px) {
  .liste-restaurants {
    margin-top: 10%;
    padding-bottom: 10%;
    & h2 {
      padding-top: 10%;
      margin-left: 5%;
    }
  }
  .restaurants {
    flex-direction: column;
    justify-content: center;
    & > div {
      margin-left: 5%;
      width: 90%;
      margin-bottom: 5%;
    }
  }
  .menu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
