footer {
    background-color: rgb(59, 59, 59);
  }
  .end {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & h4 {
      font-family: shrikhand;
      color: white;
      font-size: 25px;
      margin-left: 1.5rem;
    }
      & p{
      color: white;
      padding: 0rem;
      margin: 0rem;
      }
    
   i {
         color: white;
      }
  }
  li {
    list-style-type: none;
    color: white;
  }
  .utensils, .hands {
    padding: 0rem;
    display: flex;
    width: 25%;
  }
  .mention {
    display: flex;
    padding-left: 0rem;
    width: 15%;
  }
  .mail a {
    color: white;
    font-weight: 400;
  }
  @media (max-width: 991px){
    footer {
      padding-bottom: 3rem;
    }
    .ul1 {
      flex-direction: column;
      align-items: flex-start;
      
    }
    .utensils {
      width: 100%;
      margin-bottom: 1rem;
      .fas {
        padding-left: 0rem;
      }
    }
    .hands {
      width: 100%;
      .fas {
        padding: 0rem 0.9rem; 
        padding-left: 0rem;

      }
    }
    .mention {
      flex-direction: column;
      width: 100%;
      padding-left: 1.3rem;
      margin-bottom: 0rem;
    }
    .mail a {
      width: 100%;
      margin-left: -1.3rem;
    }
  }