footer {
    background-color: rgb(59, 59, 59);
  }
  .ul1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & h4 {
      font-family: shrikhand;
      color: white;
      font-size: 25px;
      margin-left: 2rem;
    }
   i {
         color: white;
      }
  }
  li {
    list-style-type: none;
    color: white;
  }
  .utensils, .hands {
    padding: 0rem;
    display: flex;
    width: 25%;
  }
  .mention {
    display: flex;
    padding-left: 0rem;
    width: 15%;
  }
  .mail a {
    color: white;
    font-weight: 400;
  }
  /* tablette */
  @media (min-width: 768px) and (max-width: 991px) {
    .ul1 {
      flex-direction: column;
      align-items: flex-start;
       h4 {
        padding: 0rem 0.5rem;
        margin-bottom: 0.5rem;

      }
         i {
          margin-left: 0rem;
        }
    }
    .utensils {
      padding-left: 1rem;
      width: 100%;
      margin-bottom: 0rem;

    }
    .hands {
      width: 100%;
      margin-bottom: 0rem;

      padding-left: 1rem;
      .fas {
      padding: 0rem 1rem;
      }
    }
    .mention {
      flex-direction: column;
      width: 100%;
      padding-left: 2rem;
      margin-bottom: 0rem;
    }
    .mail a {
      display: flex;
      width: 100%;
      margin-left: -0.5rem;
    }
  }
  /* téléphone mobile */
  @media (max-width: 767px) {
    footer {
      padding-bottom: 3rem;
    }
    .ul1 {
      flex-direction: column;
      align-items: flex-start;
       h4 {
        padding-left: 1.5rem;
        margin-left: 0rem;
        margin-bottom: 0.5rem;
      }
         i {
          margin-left: 0rem;
        }
    }
    .utensils {
      padding-left: 0rem;
      width: 100%;
      margin-bottom: 0rem;

      .fas {
        padding: 0rem 1.4rem;
      }
    }
    .hands {
      width: 100%;
      padding-left: 0rem;
      margin-bottom: 0rem;

      .fas {
        padding: 0rem 1.2rem;
      }
    }
    .mention {
      flex-direction: column;
      width: 100%;
      padding-left: 1.3rem;
      margin-bottom: 0rem;
    }
    .mail a {
      width: 100%;
      margin-left: -1.3rem;
    }
  }