nav {
  display: flex;
  flex-wrap: wrap;
  img {
      margin: auto;
      margin-bottom: 5px;
      max-width: 300px;
}
}
/*geoloc*/
.map {
  position: relative;
  background-color: rgb(238, 237, 237);
  box-shadow: inset 0px 3px 2px rgb(219, 217, 217);
  font-weight: bold;
  margin-left: auto;
  width: 100%;
   .fas {
  margin-left: auto;
     color: black;
     position: relative;
    background-color: transparent;
  }
}
nav div {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  header img{
margin: auto;
  }
  nav div {
    flex-basis: 100%;
  }
  .map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    .fas {
      margin-left: 1.8rem;
         color: black;
         position: relative;
        background-color: transparent;
      }
  p {
    margin-right: 80px;
  }
}
}