@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&family=Shrikhand&display=swap");
nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
nav img {
  margin-left: auto;
  margin-bottom: 5px;
  max-width: 300px;
}

/*geoloc*/
.map {
  position: relative;
  background-color: #eeeded;
  box-shadow: inset 0px 3px 2px #dbd9d9;
  font-weight: bold;
  justify-content: center;
  width: 100%;
}
.map .fas {
  color: black;
  position: relative;
  background-color: transparent;
}

nav div {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  header img {
    margin: auto;
  }

  nav div {
    flex-basis: 100%;
  }

  .map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  .map p {
    margin-right: 80px;
  }
}
footer {
  background-color: #3b3b3b;
}

.ul1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ul1 h4 {
  font-family: shrikhand;
  color: white;
  font-size: 25px;
  margin-left: 2rem;
}
.ul1 i {
  color: white;
}

li {
  list-style-type: none;
  color: white;
}

.utensils, .hands {
  padding: 0rem;
  display: flex;
  width: 25%;
}

.mention {
  display: flex;
  padding-left: 0rem;
  width: 15%;
}

.mail a {
  color: white;
  font-weight: 400;
}

/* tablette */
@media (min-width: 768px) and (max-width: 991px) {
  .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .ul1 h4 {
    padding: 0rem 0.5rem;
    margin-bottom: 0.5rem;
  }
  .ul1 i {
    margin-left: 0rem;
  }

  .utensils {
    padding-left: 1rem;
    width: 100%;
    margin-bottom: 0rem;
  }

  .hands {
    width: 100%;
    margin-bottom: 0rem;
    padding-left: 1rem;
  }
  .hands .fas {
    padding: 0rem 1rem;
  }

  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 0rem;
  }

  .mail a {
    display: flex;
    width: 100%;
    margin-left: -0.5rem;
  }
}
/* téléphone mobile */
@media (max-width: 767px) {
  footer {
    padding-bottom: 3rem;
  }

  .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .ul1 h4 {
    padding-left: 1.5rem;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }
  .ul1 i {
    margin-left: 0rem;
  }

  .utensils {
    padding-left: 0rem;
    width: 100%;
    margin-bottom: 0rem;
  }
  .utensils .fas {
    padding: 0rem 1.4rem;
  }

  .hands {
    width: 100%;
    padding-left: 0rem;
    margin-bottom: 0rem;
  }
  .hands .fas {
    padding: 0rem 1.2rem;
  }

  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 1.3rem;
    margin-bottom: 0rem;
  }

  .mail a {
    width: 100%;
    margin-left: -1.3rem;
  }
}
:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --grislight: #f8f5f5;
  --gris: rgb(124, 121, 121);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

h5 {
  padding: 0rem;
}

.reserver {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  background-color: var(--grislight);
}

.titre p {
  color: var(--gris);
  font-size: 18px;
}

button a {
  color: white;
}

button {
  display: flex;
  box-shadow: 0 5px 10px 0px #e6dfe9;
  flex-wrap: wrap;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  transition: transform 400ms;
  opacity: 0.9;
}
button:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .explorer {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }

  button {
    padding: 15px 35px;
  }

  .titre {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  .titre h1 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
  }
  .titre h1 p {
    margin-left: 2px;
  }
}
.liste-fonction {
  display: flex;
  gap: 2%;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}

.fonction {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  background-color: var(--grislight);
  padding: 0.8rem;
  width: 300px;
  flex-grow: 1;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
}
.fonction span {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: var(--primaire);
  border-radius: 30px;
  margin: -2rem;
  color: #f6f5fc;
}

.fonction:hover {
  background-color: #f1e5f3;
}
.fonction:hover:hover .fas {
  color: var(--primaire);
}

.fas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  margin-left: 1.5rem;
  color: var(--gris);
}

@media (min-width: 768px) and (max-width: 991px) {
  .liste-fonction {
    display: flex;
    flex-direction: column;
  }

  .fonction {
    width: 400px;
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  main h2 {
    margin-left: 2rem;
  }

  .liste-fonction {
    flex-direction: column;
    justify-content: center;
  }

  .fonction {
    align-items: center;
    margin-top: 2rem;
    width: 400px;
  }
  .fonction .fas {
    margin-left: 2rem;
  }
}
.liste-restaurants {
  background-color: var(--grislight);
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
}
.restaurants > div {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-grow: 1;
  margin-bottom: 3rem;
  flex-basis: 20%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
  transition: transform 300ms;
  margin-top: 0px;
}
.restaurants > div:hover {
  transform: scale(1.05);
}

.menu-card {
  position: relative;
}
.menu-card span {
  display: grid;
  position: absolute;
  height: 30px;
  width: 95px;
  place-items: center;
  background-color: var(--tertiaire);
  color: #098667;
  font-weight: 500;
  top: 15px;
  right: 15px;
}
.menu-card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-description h3 {
  margin-left: 1.5rem;
}

.card-description p {
  margin-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card-title i {
  position: absolute;
  right: 19px;
  font-size: 180%;
}
.card-title i .far {
  background-color: transparent;
}

.card-title .fas {
  background-clip: text;
  right: -5px;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 400ms;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  opacity: 0;
}

.card-title .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1320px) {
  .restaurants div {
    flex-basis: 30%;
  }
  .restaurants div > div {
    margin-left: 1.5rem;
  }

  .menu-card img {
    width: 100%;
    object-fit: cover;
  }

  .card-description h3 {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
@media (max-width: 767px) {
  .liste-restaurants {
    margin-top: 2rem;
    padding-bottom: 5rem;
  }
  .liste-restaurants h2 {
    padding-top: 2rem;
    margin-left: 2rem;
  }

  .restaurants {
    flex-direction: column;
    justify-content: center;
  }
  .restaurants > div {
    margin-left: 1.5rem;
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .card-description h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .menu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
header .fas {
  position: absolute;
  font-size: 110%;
  color: black;
  top: 25%;
  padding: 0rem;
}
header img {
  margin-left: auto;
  margin-bottom: 0.8rem;
  max-width: 200px;
}

.resto__image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.resto__card {
  position: relative;
  margin-top: -3rem;
  background-color: var(--grislight);
  border-radius: 50px 50px 0px 0px;
}
.resto__card h1 {
  font-family: "shrikhand", "sans-serif";
  font-size: 200%;
  margin-left: 1rem;
}

.resto__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.resto__title i {
  position: absolute;
  right: 15px;
  font-size: 180%;
}
.resto__title .far {
  background-color: transparent;
}
.resto__title .fas {
  background-clip: text;
  right: -10px;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 400ms;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  opacity: 0;
}
.resto__title .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.menu-resto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-list > p {
  border-bottom: 3px solid var(--tertiaire);
  width: 40px;
  margin-bottom: 1rem;
}
.menu-list .menu-title {
  display: flex;
  width: 400px;
  height: 70px;
  margin-bottom: 1rem;
  background-color: white;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
}

.menu-title h4 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  margin-left: 0.5rem;
  border: 1px solid #ffbb00;
}

.menu-description {
  display: flex;
  height: 20px;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-description h5 {
  border: 1px solid #00ff62;
  margin-right: auto;
  font-size: 15px;
  font-weight: normal;
  margin-left: 0.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-description .menu-price {
  border: 1px solid blue;
  font-weight: bold;
  margin-right: 1rem;
}
.menu-description .menu-check {
  margin-bottom: 1.7rem;
  display: block;
  padding: 2rem;
  border-radius: 0px 20px 20px 0px;
  background-color: var(--tertiaire);
  width: 20%;
  margin-right: -5rem;
  transition: all 600ms ease-in-out;
  opacity: 0;
}
.menu-description .menu-check .fas {
  font-size: 160%;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  margin-left: -0.4rem;
  padding: 0rem;
  transform: rotate(-270deg);
  transition: transform 1s ease-in-out;
}

.menu-title:hover {
  cursor: pointer;
}
.menu-title:hover:hover .menu-check {
  margin-right: 0rem;
  opacity: 1;
}
.menu-title:hover:hover .menu-check .fas {
  transform: rotate(0deg);
}

@media (min-width: 768px) and (max-width: 1245px) {
  .menu-list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu-list > p {
    margin-left: 1rem;
  }
  .menu-list .menu-title {
    width: 95%;
    margin-left: 1rem;
  }
}
@media (max-width: 767px) {
  .menu-list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .menu-list > p {
    margin-left: 0.8rem;
  }
  .menu-list .menu-title {
    width: 93%;
    margin-left: 0.8rem;
    overflow: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
