@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&family=Shrikhand&display=swap");
nav {
  display: flex;
  flex-wrap: wrap;
}
nav img {
  margin: auto;
  margin-bottom: 5px;
  max-width: 300px;
}

/*geoloc*/
.map {
  position: relative;
  background-color: #eeeded;
  box-shadow: inset 0px 3px 2px #dbd9d9;
  font-weight: bold;
  margin-left: auto;
  width: 100%;
}
.map .fas {
  margin-left: auto;
  color: black;
  position: relative;
  background-color: transparent;
}

nav div {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 767px) {
  header img {
    margin: auto;
  }

  nav div {
    flex-basis: 100%;
  }

  .map {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
  }
  .map .fas {
    margin-left: 1.8rem;
    color: black;
    position: relative;
    background-color: transparent;
  }
  .map p {
    margin-right: 80px;
  }
}
footer {
  background-color: #3b3b3b;
}

.end {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.end h4 {
  font-family: shrikhand;
  color: white;
  font-size: 25px;
  margin-left: 1.5rem;
}
.end p {
  color: white;
  padding: 0rem;
  margin: 0rem;
}
.end i {
  color: white;
}

li {
  list-style-type: none;
  color: white;
}

.utensils, .hands {
  padding: 0rem;
  display: flex;
  width: 25%;
}

.mention {
  display: flex;
  padding-left: 0rem;
  width: 15%;
}

.mail a {
  color: white;
  font-weight: 400;
}

@media (max-width: 991px) {
  footer {
    padding-bottom: 3rem;
  }

  .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .utensils {
    width: 100%;
    margin-bottom: 1rem;
  }
  .utensils .fas {
    padding-left: 0rem;
  }

  .hands {
    width: 100%;
  }
  .hands .fas {
    padding: 0rem 0.9rem;
    padding-left: 0rem;
  }

  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 1.3rem;
    margin-bottom: 0rem;
  }

  .mail a {
    width: 100%;
    margin-left: -1.3rem;
  }
}
@keyframes spin-check {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes move-in-top {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --grislight: #f8f5f5;
  --gris: rgb(124, 121, 121);
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

h5 {
  padding: 0rem;
}

h2 {
  margin: 1em 2em;
}

body {
  margin: 0;
  padding: 0;
}

.reserver {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  background-color: var(--grislight);
}

.titre {
  text-align: center;
}
.titre p {
  color: var(--gris);
  font-size: 18px;
}

.btn__explorer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 18px;
  padding: 20px 30px;
  border: none;
  color: white;
  transition: transform 400ms;
  opacity: 0.9;
  box-shadow: 0 5px 10px 0px #e6dfe9;
}
.btn__explorer:hover {
  opacity: 1;
  cursor: pointer;
}

.loader {
  display: grid;
  place-items: center;
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 400ms 3s forwards;
  transform-origin: top;
}

.loader__spin {
  position: relative;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border: 6px solid var(--gris);
  border-right-color: var(--secondaire);
  border-bottom-color: var(--tertiaire);
  border-top-color: var(--primaire);
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

@media (max-width: 767px) {
  .explorer {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }

  button {
    padding: 15px 35px;
  }

  .titre {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  .titre h1 {
    font-size: 30px;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 5%;
  }
  .titre h1 p {
    margin-left: 2px;
  }
}
.liste-fonction {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}

.fonction {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  background-color: var(--grislight);
  padding: 0.8rem;
  width: 300px;
  flex-grow: 1;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
}
.fonction span {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  background-color: var(--primaire);
  border-radius: 30px;
  margin: -2rem;
  color: #f6f5fc;
}

.fonction:hover {
  background-color: #f1e5f3;
}
.fonction:hover:hover .fas {
  color: var(--primaire);
}

.fas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  margin-left: 1.5rem;
  color: var(--gris);
}

@media (min-width: 768px) and (max-width: 1040px) {
  .liste-fonction {
    display: flex;
    flex-direction: column;
  }

  .fonction {
    width: 400px;
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  main h2 {
    margin-left: 2rem;
  }

  .liste-fonction {
    flex-direction: column;
    justify-content: center;
  }

  .fonction {
    align-items: center;
    margin-top: 2rem;
    width: 350px;
  }
  .fonction .fas {
    margin-left: 2rem;
  }
}
.liste-restaurants {
  background-color: var(--grislight);
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
}
.restaurants > div {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-grow: 1;
  margin-bottom: 3rem;
  flex-basis: 20%;
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
  transition: transform 300ms;
  margin-top: 0px;
}
.restaurants > div:hover {
  transform: scale(1.05);
}

.menu-card {
  position: relative;
}
.menu-card.new::before {
  content: "Nouveau";
  display: grid;
  position: absolute;
  height: 30px;
  width: 95px;
  place-items: center;
  background-color: var(--tertiaire);
  color: #098667;
  font-weight: 500;
  top: 15px;
  right: 15px;
}
.menu-card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.card-description h3 {
  margin-left: 1.5rem;
}

.card-description p {
  margin-left: 1.5rem;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card-title i {
  position: absolute;
  right: 19px;
  font-size: 180%;
}
.card-title i .far {
  background-color: transparent;
}

.card-title .fas {
  background-clip: text;
  right: -5px;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 400ms, opacity 500ms;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  opacity: 0;
}

.card-title .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1320px) {
  .restaurants div {
    flex-basis: 30%;
  }
  .restaurants div > div {
    margin-left: 1.5rem;
  }

  .menu-card img {
    width: 100%;
    object-fit: cover;
  }

  .card-description h3 {
    margin-top: 1rem;
    margin-left: 0rem;
  }
}
@media (max-width: 767px) {
  .liste-restaurants {
    margin-top: 2rem;
    padding-bottom: 5rem;
  }
  .liste-restaurants h2 {
    padding-top: 2rem;
    margin-left: 2rem;
  }

  .restaurants {
    flex-direction: column;
    justify-content: center;
  }
  .restaurants > div {
    margin-left: 1.25rem;
    width: 90%;
    margin-bottom: 1.5rem;
  }

  .card-description h3 {
    margin-top: 1rem;
    margin-left: 1.5rem;
  }

  .menu-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
header .fas {
  position: absolute;
  font-size: 110%;
  color: black;
  top: 35%;
  padding: 0rem;
}
header img {
  margin: auto;
  margin-bottom: 0.8rem;
  padding-top: 0.8rem;
  max-width: 180px;
}

.resto__image img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.resto__card {
  position: relative;
  margin-top: -3rem;
  background-color: var(--grislight);
  border-radius: 50px 50px 0px 0px;
}
.resto__card h1 {
  font-family: "shrikhand", "sans-serif";
  font-size: 170%;
  margin-left: 1rem;
}

.resto__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.resto__title i {
  position: absolute;
  right: 20px;
  font-size: 170%;
}
.resto__title .far {
  background-color: transparent;
}
.resto__title .fas {
  background-clip: text;
  right: -4px;
  -webkit-background-clip: text;
  color: transparent;
  transition: transform 400ms, opacity 500ms;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  opacity: 0;
}
.resto__title .fas:hover {
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
}

.menu__resto {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu__list > p {
  font-size: 18px;
  border-bottom: 3px solid var(--tertiaire);
  width: 45px;
  padding-bottom: 0.3em;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.menu__list .menu__title {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 70px;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: white;
  flex-direction: column;
  white-space: nowrap;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 5px 10px 0px #e6dfe9;
  animation: move-in-top 1s ease-in-out;
  animation-fill-mode: both;
}
.menu__list .menu__title--1 {
  animation-delay: 200ms;
}
.menu__list .menu__title--2 {
  animation-delay: 400ms;
}
.menu__list .menu__title--3 {
  animation-delay: 600ms;
}

.menu__description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5rem;
  width: 75%;
  height: 70px;
  transition: all 600ms ease-in-out;
}
.menu__description h4 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__description p {
  margin-top: 0rem;
  font-size: 14px;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__description--wrap {
  width: 62%;
}
.menu__description--wrap h4 {
  overflow: visible;
  white-space: normal;
  margin-top: 0.3rem;
}

.menu__price {
  display: flex;
  justify-content: flex-end;
  margin-top: 2.5rem;
  font-weight: bold;
  margin-left: auto;
}

.menu__price--margin {
  margin-left: 3rem;
}

.menu__check {
  height: 75px;
  border-radius: 0px 20px 20px 0px;
  padding: 0rem;
  width: 4.2rem;
  margin-left: auto;
  flex-shrink: 0;
  background-color: var(--tertiaire);
  margin-right: -4.3rem;
  transition: all 600ms ease-in-out;
}
.menu__check .fa-check-circle {
  font-size: 160%;
  background-clip: text;
  -webkit-background-clip: text;
  color: white;
  margin-left: 0rem;
  padding: 0rem;
  margin-top: 1.5rem;
  animation: 1s ease-in-out;
}

.menu__title:hover {
  cursor: pointer;
}
.menu__title:hover:hover .menu__check {
  margin-right: 0rem;
}
.menu__title:hover:hover .menu__check .fa-check-circle {
  animation-name: spin-check;
}

.menu__title:hover .menu__description {
  width: 65%;
}

.menu__title:hover .menu__description--wrap {
  width: 62%;
}

.order {
  background-color: var(--grislight);
  height: 25vh;
  padding-top: 3em;
}

.btn__order {
  margin: auto;
  width: 250px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 18px;
  padding: 20px 30px;
  border: none;
  color: white;
  transition: transform 400ms;
  opacity: 0.9;
  box-shadow: 0 5px 10px 0px #e6dfe9;
}
.btn__order:hover {
  opacity: 1;
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1245px) {
  .menu__list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__list > p {
    margin-left: 1rem;
  }
  .menu__list .menu__title {
    width: 95%;
    margin-left: 1rem;
  }
}
@media (max-width: 767px) {
  .menu__list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .menu__list > p {
    margin-left: 0.8rem;
  }
  .menu__list .menu__title {
    overflow: hidden;
    width: 93%;
    margin-left: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
