@use "./sass/layout/navbar.scss";
@use "./sass/layout/explorer.scss";
@use "./css/fonction.scss";
@use "./css/animations.scss";
@use "./css/restaurants.scss";
@use "./sass/base.scss";

footer {
  background-color: rgb(59, 59, 59);
}
.ul1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & h4 {
    font-family: shrikhand;
    color: white;
    font-size: 20px;
    margin-left: 2%;
  }
 i {
       color: white;
    }
}
li {
  list-style-type: none;
  color: white;
}
.utensils {
  padding-left: 0%;
  display: flex;
  width: 30%;
}
.hands {
  padding-left: 0%;
  display: flex;
  width: 30%;
}
.mention {
  display: flex;
  padding-left: 0%;
  width: 15%;
}
.mail a {
  color: white;
  font-weight: 400;
}
/* tablette */
@media (min-width: 768px) and (max-width: 991px) {
  .ul1 {
    flex-direction: column;
    align-items: flex-start;
     h4 {
      padding: 0% 1%;
    }
       i {
        margin-left: 0%;
      }
  }
  .utensils {
    padding-left: 0%;
    width: 100%;
  }
  .hands {
    width: 100%;
    padding-left: 0%;
    .fas {
    padding: 0% 2.3%;
    }
  }
  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 3%;
  }
  .mail a {
    display: flex;
    width: 100%;
    margin-left: -22%;
  }
}
/* téléphone mobile */
@media (max-width: 767px) {
  .ul1 {
    flex-direction: column;
    align-items: flex-start;
     h4 {
      padding-left: 4.5%;
      margin-left: 0%;
    }
       i {
        margin-left: 0%;
      }
  }
  .utensils {
    padding-left: 0%;
    width: 100%;
    .fas {
      padding: 0% 4%;
    }
  }
  .hands {
    width: 100%;
    padding-left: 0%;
    .fas {
      padding: 0% 3%;
    }
  }
  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 3.5%;
  }
  .mail a {
    width: 100%;
    margin-left: -40%;
  }
}
