@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&family=Shrikhand&display=swap");
@import url("./css/navbar.css");
@import url("./css/explorer.css");
@import url("./css/filtres.css");
@import url("./css/restaurants.css");

:root {
  --primaire: #9356dc;
  --secondaire: #ff79da;
  --tertiaire: #99e2d0;
  --grislight: #f8f5f5;
  --gris: rgb(124, 121, 121);
}
* {
  box-sizing: border-box;
  font-family: "Roboto", "sans-serif";
  scroll-behavior: smooth;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
/* #page-restau footer {
  background-color: rgb(163, 28, 123);
} */
footer {
  background-color: rgb(59, 59, 59);
}
.ul1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
li {
  list-style-type: none;
  color: white;
}
.ul1 h4 {
  font-family: shrikhand;
  color: white;
  font-size: 20px;
  margin-left: 2%;
}
.ul1 i {
  color: white;
}
.utensils {
  padding-left: 0%;
  display: flex;
  width: 30%;
}
.hands {
  padding-left: 0%;
  display: flex;
  width: 30%;
}
.mention {
  display: flex;
  padding-left: 0%;
  width: 15%;
}
.mail a {
  color: white;
  font-weight: 400;
}
/* tablette */
@media (min-width: 768px) and (max-width: 991px) {
  .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .ul1 h4 {
    padding: 0% 1%;
  }
  .ul1 i {
    margin-left: 0%;
  }
  .utensils {
    padding-left: 0%;
    width: 100%;
  }
  .hands {
    width: 100%;
    padding-left: 0%;
  }
  .hands .fas {
    padding: 0% 2.3%;
  }
  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 3%;
  }
  .mail a {
    display: flex;
    width: 100%;
    margin-left: -22%;
  }
}
/* téléphone mobile */
@media (max-width: 767px) {
  .ul1 {
    flex-direction: column;
    align-items: flex-start;
  }
  .ul1 h4 {
    padding-left: 4.5%;
    margin-left: 0%;
  }
  .ul1 i {
    margin-left: 0%;
  }
  .utensils {
    padding-left: 0%;
    width: 100%;
  }
  .utensils .fas {
    padding: 0% 4%;
  }
  .hands {
    width: 100%;
    padding-left: 0%;
  }
  .hands .fas {
    padding: 0% 3%;
  }
  .mention {
    flex-direction: column;
    width: 100%;
    padding-left: 3.5%;
  }
  .mail a {
    width: 100%;
    margin-left: -40%;
  }
}
