@use "../utils/mixins.scss";
.reserver {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
  background-color: var(--grislight);
}
.titre p {
  color: var(--gris);
  font-size: 18px;
}
button a{
  color: white;
}
button {
  display: flex;
  @include mixins.box-shadow;
  flex-wrap: wrap;
  border-radius: 30px 30px 30px 30px;
  background-image: linear-gradient(var(--secondaire), var(--primaire));
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  transition: transform 400ms;
  opacity: 0.9;
  &:hover {
    opacity: 1;

  }
  }
@media (max-width: 767px) {
  .explorer {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
  }
  button {
    padding: 15px 35px;
  }
  .titre {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin-left: 5%;
     h1 {
      font-size: 30px;
      margin-top: 5%;
      margin-bottom: 0%;
      margin-left: 5%;
       p {
        margin-left: 2px;
      }
    }
  }
}