@use "../utils/animations.scss";
@use "../utils/mixins.scss";
.liste-fonction {
  display: flex;
  gap: 2%;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 1.5rem;
}
.fonction {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  background-color: var(--grislight);
  padding: 0.8rem;
  width: 300px;
  flex-grow: 1;
  @include mixins.border-radius;
  @include mixins.box-shadow;
  & span {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: var(--primaire);
    border-radius: 30px;
    margin: -2rem;
    color: rgb(246, 245, 252);
  }
  }
.fonction:hover {
    background-color:rgb(241, 229, 243);
  &:hover .fas {
    color: var(--primaire);
  }
}
.fas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1.5rem;
  margin-left: 1.5rem;
  color: var(--gris);
}
@media (min-width: 768px) and (max-width: 991px) {
  .liste-fonction {
    display: flex;
    flex-direction: column;
  }
  .fonction {
    width: 400px;
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  main h2 {
    margin-left: 2rem;
  }
  .liste-fonction {
    flex-direction: column;
    justify-content: center;
  }
  .fonction {
    align-items: center;
    margin-top: 2rem;
    width: 400px;
     .fas {
      margin-left: 2rem;
    }
  }
}
